
{{#if data}} 
<div>
    <!-- <input type="range" disabled class="form-range" min="0" max="20" step="1" value="{{bucketSize}}" onchange="adjustPrime(this)" id="primeRange"> -->
</div>
    <table class="table table-success table-striped caption-top">
    <caption>Multiplies For {{bucketSize}} Primes</caption>
    <thead>
        <tr>
        <th scope="col"> </th>
            {{#each data}}
                <th scope="col">{{this.header}}</th>
            {{/each}}
        </tr>
    </thead>
    <tbody>
        {{#each data }}
            <tr>
            <th scope="row">{{ this.header }}</th>
                {{#each this.values}}
                    <td>{{this}}</td>
                {{/each}}
            </tr>
        {{/each}}
    </tbody>
    </table>
{{else}}
<h1>No Data Computed</h1>
{{/if}}
